* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #959595;
}

.container {
    border: 4px solid black;
    width: 400px;
    height: 300px;
    padding: 5px;
}

.output {
    border: 2px solid black;
    height: 20%;
    margin-bottom: 10px;

    
} 

.buttons-container {
    border: 2px solid black;
    margin: 0px;
    width: 100%;
    height: 75%;

    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(5, auto);
    gap: 2px;
}


input {
    padding: 10px;
    text-align: right;
    width: 100%;
    height: 100%;
}


